@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/* roboto-100 - cyrillic_latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Roboto";
  font-style: normal;
  font-weight: 100;
  src: url("../fonts/roboto-v30-cyrillic_latin-100.woff2") format("woff2"), url("../fonts/roboto-v30-cyrillic_latin-100.woff") format("woff"); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-300 - cyrillic_latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/roboto-v30-cyrillic_latin-300.woff2") format("woff2"), url("../fonts/roboto-v30-cyrillic_latin-300.woff") format("woff"); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-regular - cyrillic_latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/roboto-v30-cyrillic_latin-regular.woff2") format("woff2"), url("../fonts/roboto-v30-cyrillic_latin-regular.woff") format("woff"); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-500 - cyrillic_latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/roboto-v30-cyrillic_latin-500.woff2") format("woff2"), url("../fonts/roboto-v30-cyrillic_latin-500.woff") format("woff"); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-700 - cyrillic_latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/roboto-v30-cyrillic_latin-700.woff2") format("woff2"), url("../fonts/roboto-v30-cyrillic_latin-700.woff") format("woff"); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-900 - cyrillic_latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/roboto-v30-cyrillic_latin-900.woff2") format("woff2"), url("../fonts/roboto-v30-cyrillic_latin-900.woff") format("woff"); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* nokia-sans-s60-400 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Nokia - Sans - S 60";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/Nokia Sans S60 Regular.woff2") format("woff2"), url("../fonts/Nokia-Sans-S60-Regular.woff") format("woff"); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
body {
  font-family: Roboto;
  font-weight: 400;
  font-size: 16px;
}

.wrapper {
  max-width: 1140px;
  margin: 0 auto;
}

.button-style {
  background-image: linear-gradient(to top, #1eacc7 0%, #4ce2ff 100%);
  border-radius: 5px;
  box-shadow: inset 0 -3px 0 rgba(0, 0, 0, 0.12);
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.21);
  color: #ffffff;
  font-family: Roboto;
  text-transform: uppercase;
}

.button-style:hover,
.button-style:active,
.button-style:focus {
  transform: translateY(-4px);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2), 0 16px 20px rgba(0, 0, 0, 0.2);
}

.label-section-style {
  padding: 8px 12px 6px;
  background-color: #000000;
  text-transform: uppercase;
  color: #ffffff;
  font-family: "Roboto";
  font-size: 11px;
  font-weight: 100;
  opacity: 0;
  transform: translateY(-100%);
}

.title-section-style {
  color: #222222;
  font-family: Roboto;
  font-size: 38px;
  font-weight: 700;
  text-transform: uppercase;
  opacity: 0;
  transform: translateY(-100%);
}

.subtitle-section-style {
  font-family: Roboto;
  font-size: 17px;
  font-weight: 600;
  transform: translateY(-200%);
}

.label-section-style.element-animation.element-show,
.title-section-style.element-animation.element-show,
.subtitle-section-style.element-animation.element-show {
  opacity: 1;
  transition: all 1s;
  transform: translateY(0%);
}

/*Header styles start*/
.header {
  position: fixed;
  z-index: 10;
  background-color: #212121;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
}
.header__menu {
  display: flex;
  align-items: center;
  height: 50px;
  width: 100%;
  padding: 0 40px;
}
@media screen and (max-width: 768px) {
  .header__menu {
    position: fixed;
    padding: 20px 20px;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #212121;
    z-index: 20;
    transform: translateX(100%);
    transition: 0.3s all linear;
  }
}
.header__menu_active {
  transform: translateX(0);
}
.header__menu-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}
@media screen and (max-width: 768px) {
  .header__menu-list {
    flex-direction: column;
    align-items: center;
  }
}
.header__menu-item {
  position: relative;
  flex-grow: 1;
  text-align: center;
  transform: translateY(50%);
  animation: header-menu-anim 1s forwards;
  opacity: 0;
}
@media screen and (max-width: 768px) {
  .header__menu-item {
    margin-bottom: 30px;
    border: none;
  }
}
@keyframes header-menu-anim {
  0% {
    transform: translateY(50%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
    border-left: 2px dotted black;
  }
}
.header__menu-item:first-child {
  border-left: none;
}
.header__menu-link {
  color: #ffffff;
  font-size: 15px;
  font-weight: 300;
  line-height: 31px;
}
@media screen and (max-width: 768px) {
  .header__menu-link {
    font-size: 30px;
  }
}
@media screen and (max-width: 420px) {
  .header__menu-link {
    font-size: 25px;
    line-height: 21px;
  }
}
.header__menu-link:after {
  position: absolute;
  bottom: 4px;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: "";
  background: #aaa;
  height: 2px;
  transition: all 0.8s;
}
@media screen and (max-width: 768px) {
  .header__menu-link:after {
    bottom: -4px;
  }
}
.header__menu-link:hover:after, .header__menu-link:active:after, .header__menu-link:focus:after {
  width: 100%;
}
.header__burger {
  display: none;
  position: absolute;
  width: 40px;
  height: 28px;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
}
@media screen and (max-width: 768px) {
  .header__burger {
    display: block;
  }
}
.header__burger .burger__line {
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  background-color: white;
  left: 0;
}
.header__burger .burger__line_first {
  top: 0;
}
.header__burger .burger__line_secod {
  top: 50%;
  transform: translateY(-50%);
}
.header__burger .burger__line_third {
  bottom: 0;
}
.header__menu-close {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 21;
}
@media screen and (min-width: 768px) {
  .header__menu-close {
    display: none;
  }
}
.header__menu-close-line {
  display: block;
  width: 100%;
  height: 2px;
  background-color: white;
  position: absolute;
  top: 50%;
}
.header__menu-close-line:first-child {
  transform: translateY(-50%) rotate(45deg);
}
.header__menu-close-line:last-child {
  transform: translateY(-50%) rotate(-45deg);
}

/*Header styles end*/
/*Subheader styles start*/
.subheader:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  background-color: #000000;
  opacity: 0.6;
}

.subheader {
  position: relative;
  z-index: 1;
  position: absolute;
  width: 100%;
  top: 50px;
  left: 0;
}
.subheader__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 96px;
  height: 84px;
}
@media screen and (max-width: 992px) {
  .subheader__header {
    padding: 0 50px;
    height: 80px;
  }
}
@media screen and (max-width: 768px) {
  .subheader__header {
    padding: 0 25px;
    height: 75px;
  }
}
@media screen and (max-width: 576px) {
  .subheader__header {
    padding: 0 15px;
    height: 70px;
  }
}
.subheader__logo {
  transform: translateX(-20%);
  opacity: 0;
}
.subheader__logo.element-animation.element-show {
  transform: translateX(0);
  opacity: 1;
  transition: all 1s;
}
.subheader__logo-title {
  display: flex;
  align-items: center;
  margin-bottom: 6px;
}
@media screen and (max-width: 576px) {
  .subheader__logo-title {
    margin-bottom: 2px;
    align-items: flex-end;
  }
}
.subheader__logo-ico {
  max-width: 32px;
}
.subheader__logo-link {
  position: relative;
  color: #ffffff;
  font-family: "Nokia - Sans - S 60";
  font-size: 26px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 1.95px;
  padding-left: 9px;
}
@media screen and (max-width: 576px) {
  .subheader__logo-link {
    font-size: 20px;
  }
}
.subheader__logo-subtitle {
  color: #ffffff;
  font-family: "Roboto";
  font-size: 13px;
  font-weight: 100;
}
.subheader__contact {
  display: flex;
  transform: translateX(20%);
  opacity: 0;
}
.subheader__contact.element-animation.element-show {
  transform: translateX(0);
  opacity: 1;
  transition: all 1s;
}
@media screen and (max-width: 576px) {
  .subheader__contact-desc {
    display: none;
  }
}
.subheader__contact-text {
  color: #ffffff;
  font-family: Roboto;
  font-size: 12px;
  font-weight: 300;
  text-align: right;
  margin-bottom: 8px;
}
.subheader__contact-tel {
  color: #ffffff;
  font-family: Roboto;
  font-size: 22px;
  font-weight: 400;
  text-align: right;
  text-transform: uppercase;
}
.subheader__contact-tel:hover, .subheader__contact-tel:active, .subheader__contact-tel:focus {
  color: #8de3ff;
  transition: all 0.5s;
}
.subheader .button-text-medium-active {
  display: none;
}
.subheader__contact-button {
  display: flex;
  align-items: center;
  position: relative;
  margin-left: 32px;
  padding: 0px 20px;
  font-size: 14px;
}
@media screen and (min-width: 769px) {
  .subheader__contact-button .button-text-medium {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  .subheader__contact-button {
    font-size: 20px;
    padding: 0px 12px;
    margin-left: 20px;
  }
  .subheader__contact-button .button-text-large {
    display: none;
  }
  .subheader__contact-button .button-text-medium {
    display: block;
  }
}
@media screen and (max-width: 576px) {
  .subheader__contact-button {
    font-size: 35px;
    padding: 10px 10px;
    margin-left: 5px;
  }
}
@media screen and (max-width: 768px) {
  .subheader__contact-button:hover .button-text-medium, .subheader__contact-button:active .button-text-medium, .subheader__contact-button:focus .button-text-medium {
    display: none;
  }
  .subheader__contact-button:hover .button-text-medium-active, .subheader__contact-button:active .button-text-medium-active, .subheader__contact-button:focus .button-text-medium-active {
    display: block;
  }
}

/*Subheader styles end*/
/*Intro styles start*/
.intro {
  background: url(../img/intro_back.webp) no-repeat center;
  background-size: cover;
  height: 100vh;
  padding-top: 27.25vh;
}
@media screen and (max-width: 768px) {
  .intro {
    padding-top: 22.25vh;
  }
}
.intro__main {
  padding: 0px 96px;
  font-family: Roboto;
  color: #ffffff;
  text-align: center;
}
@media screen and (max-width: 992px) {
  .intro__main {
    padding: 0px 50px;
  }
}
@media screen and (max-width: 768px) {
  .intro__main {
    padding: 0px 25px;
  }
}
@media screen and (max-width: 576px) {
  .intro__main {
    padding: 0px 15px;
  }
}
.intro__title {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 60px;
  margin-bottom: 2.625vh;
  transform: translateY(100%);
  opacity: 0;
}
@media screen and (max-width: 992px) {
  .intro__title {
    font-size: 53px;
  }
}
@media screen and (max-width: 768px) {
  .intro__title {
    font-size: 44px;
  }
}
@media screen and (max-width: 576px) {
  .intro__title {
    font-size: 35px;
  }
}
.intro__title.element-animation.element-show {
  transform: translateY(0);
  opacity: 1;
  transition: all 1.5s;
}
.intro__subtitle {
  font-size: 36px;
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 2.875vh;
  transform: translateY(100%);
  opacity: 0;
}
@media screen and (max-width: 992px) {
  .intro__subtitle {
    font-size: 32px;
    line-height: 39px;
  }
}
@media screen and (max-width: 768px) {
  .intro__subtitle {
    font-size: 26px;
    line-height: 33px;
  }
}
@media screen and (max-width: 576px) {
  .intro__subtitle {
    font-size: 21px;
    line-height: 28px;
  }
}
@media screen and (max-width: 420px) {
  .intro__subtitle {
    margin-bottom: 1.875vh;
  }
}
.intro__subtitle.element-animation.element-show {
  transform: translateY(0);
  opacity: 1;
  transition: all 2s;
}
.intro__desc {
  font-size: 18px;
  line-height: 24px;
  margin-bottom: 12.15vh;
  transform: translateY(50%);
  opacity: 0;
}
@media screen and (max-width: 992px) {
  .intro__desc {
    font-size: 18px;
  }
}
@media screen and (max-width: 768px) {
  .intro__desc {
    font-size: 17px;
  }
}
@media screen and (max-width: 576px) {
  .intro__desc {
    font-size: 16px;
    line-height: 16px;
  }
}
@media screen and (max-width: 420px) {
  .intro__desc {
    margin-bottom: 10.15vh;
  }
  .intro__desc .hide-small-screen {
    display: none;
  }
}
.intro__desc.element-animation.element-show {
  transform: translateY(0);
  opacity: 1;
  transition: all 2.5s;
}
.intro__button-send {
  font-size: 18px;
  line-height: 63px;
  padding: 0px 39px;
  opacity: 0;
  animation: intro-button-send-anim 1.5s forwards 1.5s;
}
.intro__button-send.element-animation.element-show {
  opacity: 1;
  transition: all 2.5s;
}

/*Intro styles end*/
/*Advantages styles start*/
.advantages {
  padding: 71px 0 68px;
}
@media screen and (max-width: 768px) {
  .advantages {
    padding: 31px 0 28px;
  }
}
.advantages .wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 40px;
}
@media screen and (max-width: 768px) {
  .advantages .wrapper {
    padding: 0 25px;
  }
}
.advantages__label {
  margin-bottom: 44px;
}
.advantages__title {
  font-size: 38px;
  margin-bottom: 40px;
  text-align: center;
}
@media screen and (max-width: 576px) {
  .advantages__title {
    font-size: 25px;
  }
}
.advantages__card-block {
  display: flex;
  flex-direction: column;
  row-gap: 35px;
}
.advantages__cards {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0px -50px;
}
@media screen and (max-width: 992px) {
  .advantages__cards {
    margin: 0px -20px;
  }
}
@media screen and (max-width: 768px) {
  .advantages__cards {
    flex-direction: column;
  }
}
.advantages__card {
  position: relative;
  display: flex;
  align-items: center;
  flex: 1 1 50%;
  padding: 0 50px;
  margin-bottom: 35px;
  opacity: 0;
}
@media screen and (max-width: 992px) {
  .advantages__card {
    padding: 0 20px;
  }
}
@media screen and (max-width: 768px) {
  .advantages__card {
    max-width: 550px;
  }
}
@media screen and (max-width: 576px) {
  .advantages__card {
    padding: 0 10px;
  }
}
.advantages__card:nth-child(2n-1) {
  transform: translateX(-50%);
}
.advantages__card:nth-child(2n) {
  transform: translateX(50%);
}
.advantages__card.element-animation.element-show {
  opacity: 1;
  transition: all 1s;
  transform: translateX(0%);
}
.advantages__card-pic {
  max-width: 113px;
}
@media screen and (max-width: 992px) {
  .advantages__card-pic {
    max-width: 90px;
  }
}
@media screen and (max-width: 420px) {
  .advantages__card-pic {
    position: absolute;
    top: 0;
    left: 10px;
    width: 40px;
  }
}
.advantages__card-text {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  margin-left: 26px;
  flex-shrink: 2;
}
@media screen and (max-width: 576px) {
  .advantages__card-text {
    margin-left: 16px;
  }
}
@media screen and (max-width: 420px) {
  .advantages__card-text {
    margin-left: 0;
  }
}
.advantages__card-title {
  flex-shrink: 2;
  font-family: Roboto;
  text-align: justify;
  color: #1eacc7;
  font-size: 17px;
  font-weight: 400;
  line-height: 21px;
}
@media screen and (max-width: 420px) {
  .advantages__card-title {
    height: 50px;
    padding-left: 55px;
  }
}
.advantages__card-desc {
  font-family: Roboto;
  text-align: justify;
  color: #202020;
  font-size: 15px;
  font-weight: 300;
  line-height: 21px;
}

/*Advantages styles end*/
/*Mibile-app style start*/
.mobile-app {
  padding: 48px 0 80px;
  background-image: url("../img/mibile-app_back.webp");
}
@media screen and (max-width: 576px) {
  .mobile-app {
    padding: 28px 0 40px;
  }
}
.mobile-app .wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 22px;
}
.mobile-app__label {
  margin-bottom: 38px;
}
.mobile-app__title {
  margin-bottom: 19px;
  text-align: center;
}
@media screen and (max-width: 576px) {
  .mobile-app__title {
    font-size: 25px;
  }
}
.mobile-app__subtitle {
  color: #222222;
  margin-bottom: 32px;
  text-align: center;
}
.mobile-app__card-block {
  display: flex;
  flex-direction: column;
}
.mobile-app__cards {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  row-gap: 19px;
}
.mobile-app__card {
  position: relative;
  flex-basis: 33.33%;
  max-width: 320px;
  flex-grow: 2;
  height: 280px;
  margin: 0 2px;
}
.mobile-app__card:nth-child(3n+1) {
  opacity: 0;
  transform: translateX(-50%);
}
.mobile-app__card.element-animation.element-show:nth-child(3n+1) {
  opacity: 1;
  transition: all 1s;
  transform: translateX(0%);
}
.mobile-app__card:nth-child(3n) {
  opacity: 0;
  transform: translateX(50%);
}
.mobile-app__card.element-animation.element-show:nth-child(3n) {
  opacity: 1;
  transition: all 1s;
  transform: translateX(0%);
}
.mobile-app__card:nth-child(2) {
  opacity: 0;
  transform: translateY(-20%);
}
.mobile-app__card.element-animation.element-show:nth-child(2) {
  opacity: 1;
  transition: all 1s;
  transform: translateX(0%);
}
.mobile-app__card:nth-child(5) {
  opacity: 0;
  transform: translateY(25%);
}
.mobile-app__card.element-animation.element-show:nth-child(5) {
  opacity: 1;
  transition: all 1s;
  transform: translateX(0%);
}
.mobile-app__card:hover, .mobile-app__card:active, .mobile-app__card:focus {
  transform: scale(1.05);
  transition: all 0.3s;
}
.mobile-app__card-title {
  position: absolute;
  color: #ffffff;
  font-family: Roboto;
  font-size: 24px;
  line-height: 30px;
  text-align: center;
  text-transform: uppercase;
  top: 91px;
  width: 100%;
}
.mobile-app__card-button {
  position: absolute;
  width: 26px;
  height: 26px;
  background-color: #000000;
  bottom: 35px;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  z-index: 4;
}
.mobile-app__card-button:hover, .mobile-app__card-button:active, .mobile-app__card-button:focus {
  background-color: #1fbad6;
}
.mobile-app__card-button:hover:after, .mobile-app__card-button:active:after, .mobile-app__card-button:focus:after, .mobile-app__card-button:hover:before, .mobile-app__card-button:active:before, .mobile-app__card-button:focus:before {
  background-color: #000000;
}
.mobile-app__card-button:before {
  position: absolute;
  content: "";
  height: 14px;
  width: 2px;
  background-color: #1fbad6;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
}
.mobile-app__card-button:after {
  position: absolute;
  content: "";
  height: 2px;
  width: 14px;
  background-color: #1fbad6;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
}
.mobile-app__card-btn-link {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 4;
}
.mobile-app__card-link {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
}

/*Mibile-app style end*/
/*Slogan style start*/
.slogan {
  padding: 56px 15px 158px;
  background-image: url("../img/slogan_back.webp");
  background-size: auto 100%;
}
@media screen and (max-width: 576px) {
  .slogan {
    padding: 30px 15px 40px;
  }
}
.slogan .wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.slogan__label {
  color: #070716;
  background-color: #ffffff;
  margin-bottom: 32px;
  font-weight: 400;
}
@media screen and (max-width: 576px) {
  .slogan__label {
    margin-bottom: 22px;
  }
}
.slogan__title {
  color: #ffffff;
  margin-bottom: 19px;
  text-align: center;
}
@media screen and (max-width: 992px) {
  .slogan__title {
    font-size: 34px;
  }
}
@media screen and (max-width: 768px) {
  .slogan__title {
    font-size: 29px;
  }
}
@media screen and (max-width: 576px) {
  .slogan__title {
    font-size: 25px;
  }
}
.slogan__subtitle {
  color: #ffffff;
  margin-bottom: 208px;
  letter-spacing: 1px;
  font-weight: 400;
  text-align: center;
}
@media screen and (max-width: 576px) {
  .slogan__subtitle {
    margin-bottom: 20px;
    font-size: 16px;
  }
}
.slogan__picture {
  position: relative;
  max-width: 759px;
  margin-bottom: 4px;
  z-index: 2;
}
.slogan__back {
  position: absolute;
  transform: translateY(-49.81%);
  left: 11.5%;
  max-width: 76.81%;
  margin: auto;
  z-index: 3;
  opacity: 0;
}
.slogan__back.element-animation.element-show {
  animation: slogan-back-anim 2s forwards 2s;
}
@keyframes slogan-back-anim {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.slogan__picture-car {
  position: relative;
  width: 100%;
  z-index: 4;
  left: -100%;
  opacity: 0;
}
.slogan__picture-car.element-animation.element-show {
  animation: slogan-car-anim 4s forwards;
}
@keyframes slogan-car-anim {
  0% {
    left: -100%;
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  100% {
    transition: all 3s;
    left: 0;
    opacity: 1;
  }
}
.slogan__car {
  width: 100%;
}
.slogan__rear-wheel {
  position: absolute;
  width: 14.89%;
  left: 13.63%;
  bottom: 27.2%;
}
.slogan__rear-wheel.element-animation.element-show {
  animation: rear-wheel-anim 4s forwards;
  z-index: 5;
}
@keyframes rear-wheel-anim {
  0% {
    transform: rotate(0deg);
  }
  40% {
    opacity: 1;
  }
  100% {
    transform: rotate(350deg);
  }
}
.slogan__front-wheel {
  position: absolute;
  width: 14.89%;
  right: 10.34%;
  bottom: 26.72%;
}
.slogan__front-wheel.element-animation.element-show {
  animation: front-wheel-anim 4s forwards;
  z-index: 5;
}
@keyframes front-wheel-anim {
  0% {
    transform: rotate(0deg);
  }
  40% {
    opacity: 1;
  }
  100% {
    transform: rotate(360deg);
  }
}
.slogan__text {
  color: #222222;
  font-family: Roboto;
  font-size: 17px;
  font-weight: 300;
  line-height: 24px;
  text-align: center;
}

/*Slogan style end*/
/*Conditions style start*/
.conditions {
  padding: 68px 0 84px;
}
@media screen and (max-width: 576px) {
  .conditions {
    padding: 38px 0 34px;
  }
}
.conditions .wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 20px;
}
@media screen and (max-width: 768px) {
  .conditions .wrapper {
    padding: 0 10px;
  }
}
.conditions__label {
  margin-bottom: 33px;
}
.conditions__title {
  margin-bottom: 33px;
  text-align: center;
}
@media screen and (max-width: 992px) {
  .conditions__title {
    font-size: 34px;
  }
}
@media screen and (max-width: 768px) {
  .conditions__title {
    font-size: 29px;
  }
}
@media screen and (max-width: 576px) {
  .conditions__title {
    font-size: 25px;
  }
}
.conditions__lists {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.conditions__list {
  padding: 0 10px;
  flex-basis: 50%;
  margin-bottom: 62px;
  max-width: 478px;
}
@media screen and (max-width: 768px) {
  .conditions__list {
    flex-basis: 100%;
    margin: 20px auto;
  }
}
@media screen and (max-width: 768px) {
  .conditions .own-car-advantages {
    order: -2;
  }
}
@media screen and (max-width: 768px) {
  .conditions .own-car-requirements {
    order: -1;
  }
}
.list-green .conditions__list-title {
  color: #1ca8c3;
}
.list-red .conditions__list-title {
  color: #ff5656;
}
.list-green .conditions__list-item {
  background: url("../img/green_list_ico.png") 19px 7px no-repeat;
}
@media screen and (max-width: 420px) {
  .list-green .conditions__list-item {
    background-position: 19px 5px;
  }
}
.list-red .conditions__list-item {
  background: url("../img/red_list_ico.png") 19px 7px no-repeat;
}
@media screen and (max-width: 420px) {
  .list-red .conditions__list-item {
    background-position: 19px 5px;
  }
}
.conditions__list-title {
  font-family: Roboto;
  text-align: left;
  font-size: 22px;
  font-weight: 400;
  margin-bottom: 15px;
}
@media screen and (max-width: 768px) {
  .conditions__list-title {
    margin-bottom: 5px;
  }
}
.conditions__list-items {
  margin-bottom: 12px;
}
.conditions__list-item {
  color: #222222;
  font-family: Roboto;
  font-size: 17px;
  line-height: 34px;
  text-align: left;
  font-weight: 300;
  padding-left: 50px;
}
@media screen and (max-width: 420px) {
  .conditions__list-item {
    font-size: 16px;
    line-height: 28px;
  }
}
.conditions__list-desc {
  font-family: Roboto;
  font-size: 17px;
  line-height: 24px;
  text-align: left;
  color: #1ca8c3;
  font-weight: 300;
}

/*Conditions style end*/
/*Cities style start*/
.cities {
  height: 717px;
  background-color: #080816;
}
.cities__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  padding: 0 10px;
  background: url("../img/cities_back.webp") center no-repeat;
}
.cities__header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 49px;
}
.cities__label {
  margin-bottom: 32px;
  background-color: #ffffff;
  font-weight: 400;
  color: #070716;
}
.cities__title {
  color: #ffffff;
  margin-bottom: 20px;
  text-align: center;
}
@media screen and (max-width: 992px) {
  .cities__title {
    font-size: 34px;
  }
}
@media screen and (max-width: 768px) {
  .cities__title {
    font-size: 29px;
  }
}
@media screen and (max-width: 576px) {
  .cities__title {
    font-size: 25px;
  }
}
.cities__subtitle {
  color: #ffffff;
  font-size: 17px;
  font-weight: 400;
  text-align: center;
}
.cities__footer {
  position: relative;
  display: block;
  margin-bottom: 49px;
  color: #1fbad6;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
}
.cities__footer:after {
  position: absolute;
  bottom: -4px;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: "";
  background: #1fbad6;
  height: 2px;
  transition: all 0.8s;
}
.cities__footer:hover:after, .cities__footer:active:after, .cities__footer:focus:after {
  width: 100%;
}

/*Cities style end*/
/*Footer style start*/
.footer {
  position: relative;
  display: flex;
  justify-content: space-between;
  padding: 50px 23px 39px;
}
@media screen and (max-width: 768px) {
  .footer {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 576px) {
  .footer {
    flex-direction: column;
    justify-content: center;
  }
}
.footer__social-networks {
  padding-top: 10px;
  flex-basis: 30%;
}
@media screen and (max-width: 992px) {
  .footer__social-networks {
    max-width: 200px;
  }
}
@media screen and (max-width: 576px) {
  .footer__social-networks {
    display: flex;
    justify-content: center;
    max-width: 100%;
    margin-bottom: 20px;
  }
}
.footer__social-networks-link {
  font-size: 32px;
  color: black;
  margin-left: 5px;
}
.footer ._icon-facebook:hover {
  color: #3c62a0;
}
.footer ._icon-twitter:hover {
  color: #1da1f2;
}
.footer ._icon-instagram:hover {
  color: #e03266;
}
.footer ._icon-linkedin:hover {
  color: #007bb6;
}
.footer__menu {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-basis: 40%;
  max-width: 390px;
}
@media screen and (max-width: 992px) {
  .footer__menu {
    flex-basis: 50%;
  }
}
@media screen and (max-width: 768px) {
  .footer__menu {
    order: -1;
    flex-basis: 100%;
    min-width: 100%;
    margin-bottom: 20px;
  }
}
.footer__menu:after {
  position: absolute;
  content: "";
  width: 300px;
  height: 4px;
  background-color: #1fbad6;
  top: -34px;
  left: 50%;
  transform: translateX(-50%);
}
.footer__menu-header-list {
  display: flex;
  justify-content: space-around;
  margin-bottom: 15px;
}
.footer__menu-header-link {
  position: relative;
  color: #070716;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 400;
  text-transform: uppercase;
}
.footer__menu-header-link:after {
  position: absolute;
  bottom: -2px;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: "";
  background: #070716;
  height: 2px;
  transition: all 0.5s;
}
.footer__menu-header-link:hover:after, .footer__menu-header-link:active:after, .footer__menu-header-link:focus:after {
  width: 100%;
}
.footer__menu-main-list {
  display: flex;
  justify-content: center;
  margin-bottom: 19px;
}
@media screen and (max-width: 576px) {
  .footer__menu-main-list {
    flex-direction: column;
    align-items: center;
  }
}
@media screen and (max-width: 576px) {
  .footer__menu-main-item {
    margin-bottom: 10px;
  }
}
.footer__menu-main-link {
  position: relative;
  color: #999999;
  font-family: Roboto;
  font-size: 11px;
  font-weight: 400;
  text-transform: uppercase;
  margin-left: 8px;
}
.footer__menu-main-link:after {
  position: absolute;
  bottom: -2px;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: "";
  background: #999999;
  height: 2px;
  transition: all 0.5s;
}
.footer__menu-main-link:hover:after, .footer__menu-main-link:active:after, .footer__menu-main-link:focus:after {
  width: 100%;
}
.footer__link-change-the-language {
  position: relative;
  display: block;
  margin: 0 auto;
  color: #1fbad6;
  font-family: Roboto;
  font-size: 11px;
  font-weight: 400;
  text-transform: uppercase;
}
.footer__link-change-the-language:after {
  position: absolute;
  bottom: -2px;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: "";
  background: #1fbad6;
  height: 2px;
  transition: all 0.5s;
}
.footer__link-change-the-language:hover:after, .footer__link-change-the-language:active:after, .footer__link-change-the-language:focus:after {
  width: 100%;
}
.footer__stores {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  padding-top: 10px;
  flex-basis: 30%;
}
@media screen and (max-width: 992px) {
  .footer__stores {
    max-width: 200px;
  }
}
@media screen and (max-width: 768px) {
  .footer__stores {
    flex-basis: 70%;
    max-width: 70%;
  }
}
@media screen and (max-width: 576px) {
  .footer__stores {
    display: flex;
    justify-content: center;
    max-width: 100%;
  }
}
.footer__stores-link {
  height: 25px;
  width: 78px;
  margin-left: 10px;
}
.footer__store {
  translate: all 0.3s;
}
.footer__store:hover, .footer__store:active, .footer__store:focus {
  transform: scale(1.2);
}
.footer .app-store,
.footer .google-play,
.footer .windows-store {
  height: 100%;
  width: 100%;
}

.footer:after {
  position: absolute;
  content: "";
  width: 100%;
  height: 8px;
  background-color: #070716;
  left: 0;
  bottom: 0;
}

/*Footer style end*/