@import "_nullstyle.scss";
@import "fonts.scss";

body {
    font-family: Roboto;
    font-weight: 400;
    font-size: 16px;
}

.wrapper {
    max-width: 1140px;
    margin: 0 auto;
}

.button-style {
    background-image: linear-gradient(to top, #1eacc7 0%, #4ce2ff 100%);
    border-radius: 5px;
    box-shadow: inset 0 -3px 0 rgba(0, 0, 0, 0.12);
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.21);
    color: #ffffff;
    font-family: Roboto;
    text-transform: uppercase;
}

.button-style:hover,
.button-style:active,
.button-style:focus {
    transform: translateY(-4px);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2), 0 16px 20px rgba(0, 0, 0, 0.2);
}

.label-section-style {
    padding: 8px 12px 6px;
    background-color: #000000;
    text-transform: uppercase;
    color: #ffffff;
    font-family: "Roboto";
    font-size: 11px;
    font-weight: 100;
}

.title-section-style {
    color: #222222;
    font-family: Roboto;
    font-size: 38px;
    font-weight: 700;
    text-transform: uppercase;
}

.subtitle-section-style {
    font-family: Roboto;
    font-size: 17px;
    font-weight: 600;
}

/*Header styles start*/
.header {
    position: fixed;
    z-index: 10;
    background-color: #212121;
    top: 0;
    left: 0;
    width: 100%;
    &__menu {
        display: flex;
        align-items: center;
        height: 50px;
        width: 100%;
        padding: 0 40px;
    }

    &__menu-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 100%;
    }

    &__menu-item {
        position: relative;
        flex-grow: 1;
        border-left: 2px dotted black;
        text-align: center;
    }

    &__menu-item:first-child {
        border-left: none;
    }

    &__menu-link {
        color: #ffffff;
        font-size: 15px;
        font-weight: 300;
        line-height: 31px;
    }

    &__menu-link:after {
        position: absolute;
        bottom: 4px;
        left: 0;
        right: 0;
        margin: auto;
        width: 0%;
        content: "";
        background: #aaa;
        height: 2px;
        transition: all 0.8s;
    }

    &__menu-link:hover:after,
    &__menu-link:active:after,
    &__menu-link:focus:after {
        width: 100%;
    }
}
/*Header styles end*/

/*Subheader styles start*/
.subheader:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    background-color: #000000;
    opacity: 0.6;
}
.subheader {
    position: relative;
    z-index: 1;
    position: absolute;
    width: 100%;
    top: 50px;
    left: 0;
    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 96px;
        height: 84px;
    }

    &__logo-title {
        display: flex;
        align-items: center;
        margin-bottom: 6px;
    }

    &__logo-ico {
        max-width: 32px;
    }

    &__logo-link {
        position: relative;
        color: #ffffff;
        font-family: "Nokia - Sans - S 60";
        font-size: 26px;
        font-weight: 400;
        text-transform: uppercase;
        letter-spacing: 1.95px;
        padding-left: 9px;
    }

    &__logo-subtitle {
        color: #ffffff;
        font-family: "Roboto";
        font-size: 13px;
        font-weight: 100;
    }

    &__contact {
        display: flex;
    }

    &__contact-text {
        color: #ffffff;
        font-family: Roboto;
        font-size: 12px;
        font-weight: 300;
        text-align: right;
        margin-bottom: 8px;
    }

    &__contact-tel {
        color: #ffffff;
        font-family: Roboto;
        font-size: 22px;
        font-weight: 400;
        text-align: right;
        text-transform: uppercase;
    }

    &__contact-tel:hover,
    &__contact-tel:active,
    &__contact-tel:focus {
        color: #8de3ff;
        transition: all 0.5s;
    }

    &__contact-button {
        position: relative;
        margin-left: 32px;
        padding: 0px 20px;
        font-size: 14px;
    }
}
/*Subheader styles end*/

/*Intro styles start*/
.intro {
    background: url(../img/intro_back.webp) no-repeat center;
    background-size: cover;
    height: 100vh;
    padding-top: 25.25vh;
    &__main {
        padding: 0px 96px;
        font-family: Roboto;
        color: #ffffff;
        text-align: center;
    }

    &__title {
        font-weight: 700;
        text-transform: uppercase;
        font-size: 60px;
        margin-bottom: 1.625vh;
    }

    &__subtitle {
        font-size: 36px;
        text-transform: uppercase;
        font-weight: 700;
        line-height: 48px;
        margin-bottom: 2.875vh;
    }

    &__desc {
        font-size: 18px;
        line-height: 24px;
        margin-bottom: 14.75vh;
    }

    &__button-send {
        font-size: 18px;
        line-height: 63px;
        padding: 0px 39px;
    }
}
/*Intro styles end*/

/*Advantages styles start*/
.advantages {
    padding: 71px 0 68px;
    .wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0 30px;
    }

    &__label {
        margin-bottom: 44px;
    }

    &__title {
        margin-bottom: 40px;
    }

    &__card-block {
        display: flex;
        flex-direction: column;
        row-gap: 35px;
    }

    &__cards {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    &__card {
        display: flex;
        align-items: center;
        max-width: 480px;
        flex-grow: 1;
        padding: 0 5px;
        margin-bottom: 35px;
    }

    &__card-picture {
        max-width: 113px;
    }

    &__card-text {
        display: flex;
        flex-direction: column;
        margin-left: 26px;
        flex-shrink: 2;
    }
    &__card-title {
        flex-shrink: 2;
        font-family: Roboto;
        text-align: justify;
        color: #1eacc7;
        font-size: 17px;
        font-weight: 400;
        line-height: 21px;
    }

    &__card-desc {
        font-family: Roboto;
        text-align: justify;
        color: #202020;
        font-size: 15px;
        font-weight: 300;
        line-height: 21px;
    }
}
/*Advantages styles end*/

/*Mibile-app style start*/
.mobile-app {
    padding: 48px 0 80px;
    background-image: url("/img/mibile-app_back.webp");
    .wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0 22px;
    }

    &__label {
        margin-bottom: 38px;
    }

    &__title {
        margin-bottom: 19px;
        text-align: center;
    }

    &__subtitle {
        color: #222222;
        margin-bottom: 32px;
        text-align: center;
    }

    &__card-block {
        display: flex;
        flex-direction: column;
    }

    &__cards {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        row-gap: 19px;
    }

    &__card {
        position: relative;
        flex-basis: 33.33%;
        max-width: 320px;
        flex-grow: 2;
        height: 280px;
        margin: 0 2px;
        transition: all 0.3s;
    }

    &__card:hover,
    &__card:active,
    &__card:focus {
        transform: scale(1.05);
    }

    &__card-title {
        position: absolute;
        color: #ffffff;
        font-family: Roboto;
        font-size: 24px;
        line-height: 30px;
        text-align: center;
        text-transform: uppercase;
        top: 91px;
        width: 100%;
    }

    &__card-button {
        position: absolute;
        width: 26px;
        height: 26px;
        background-color: #000000;
        bottom: 35px;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: 50%;
        z-index: 4;
    }

    &__card-button:hover,
    &__card-button:active,
    &__card-button:focus {
        background-color: #1fbad6;
    }

    &__card-button:hover:after,
    &__card-button:active:after,
    &__card-button:focus:after,
    &__card-button:hover:before,
    &__card-button:active:before,
    &__card-button:focus:before {
        background-color: #000000;
    }

    &__card-button:before {
        position: absolute;
        content: "";
        height: 14px;
        width: 2px;
        background-color: #1fbad6;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 3;
    }

    &__card-button:after {
        position: absolute;
        content: "";
        height: 2px;
        width: 14px;
        background-color: #1fbad6;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 3;
    }

    &__card-btn-link {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 4;
    }

    &__card-link {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 2;
    }
}
/*Mibile-app style end*/

/*Slogan style start*/
.slogan {
    padding: 56px 0 158px;
    background-image: url("/img/slogan_back.webp");
    background-size: auto 100%;
    .wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__label {
        color: #070716;
        background-color: #ffffff;
        margin-bottom: 32px;
        font-weight: 400;
    }

    &__title {
        color: #ffffff;
        margin-bottom: 19px;
    }

    &__subtitle {
        color: #ffffff;
        margin-bottom: 50px;
        letter-spacing: 1px;
        font-weight: 400;
    }

    &__picture {
        max-width: 759px;
        margin-bottom: 4px;
    }

    &__img {
        width: 100%;
    }

    &__text {
        color: #222222;
        font-family: Roboto;
        font-size: 17px;
        font-weight: 300;
        line-height: 24px;
        text-align: center;
    }
}
/*Slogan style end*/

/*Conditions style start*/
.conditions {
    padding: 68px 0 84px;
    .wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__label {
        margin-bottom: 33px;
    }

    &__title {
        margin-bottom: 33px;
    }

    &__lists {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    &__list {
        padding: 0 10px;
        flex-basis: 50%;
        margin-bottom: 62px;
        max-width: 478px;
    }

    .list-green &__list-title {
        color: #1ca8c3;
    }

    .list-red &__list-title {
        color: #ff5656;
    }

    .list-green &__list-item {
        background: url("/img/green_list_ico.png") 19px 7px no-repeat;
    }

    .list-red &__list-item {
        background: url("/img/red_list_ico.png") 19px 7px no-repeat;
    }

    &__list-title {
        font-family: Roboto;
        text-align: left;
        font-size: 22px;
        font-weight: 400;
        margin-bottom: 15px;
    }

    &__list-items {
        margin-bottom: 12px;
    }

    &__list-item {
        color: #222222;
        font-family: Roboto;
        font-size: 17px;
        line-height: 34px;
        text-align: left;
        font-weight: 300;
        padding-left: 50px;
    }

    &__list-desc {
        font-family: Roboto;
        font-size: 17px;
        line-height: 24px;
        text-align: left;
        color: #1ca8c3;
        font-weight: 300;
    }
}
/*Conditions style end*/

/*Cities style start*/
.cities {
    height: 717px;
    background-color: #080816;
    &__wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        height: 100%;
        background: url("/img/cities_back.webp") center no-repeat;
    }

    &__header {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 49px;
    }

    &__label {
        margin-bottom: 32px;
        background-color: #ffffff;
        font-weight: 400;
        color: #070716;
    }

    &__title {
        color: #ffffff;
        margin-bottom: 20px;
    }

    &__subtitle {
        color: #ffffff;
        font-size: 17px;
        font-weight: 400;
    }

    &__footer {
        position: relative;
        display: block;
        margin-bottom: 49px;
        color: #1fbad6;
        font-family: Roboto;
        font-size: 15px;
        font-weight: 400;
        text-align: center;
        text-transform: uppercase;
    }

    &__footer:after {
        position: absolute;
        bottom: -4px;
        left: 0;
        right: 0;
        margin: auto;
        width: 0%;
        content: "";
        background: #1fbad6;
        height: 2px;
        transition: all 0.8s;
    }

    &__footer:hover:after,
    &__footer:active:after,
    &__footer:focus:after {
        width: 100%;
    }
}
/*Cities style end*/

/*Footer style start*/
.footer {
    position: relative;
    display: flex;
    justify-content: space-between;
    padding: 50px 23px 39px;
    &__social-networks {
        padding-top: 10px;
        flex-basis: 300px;
    }

    &__social-networks-link {
        font-size: 32px;
        color: black;
    }

    ._icon-facebook:hover {
        color: #3c62a0;
    }

    ._icon-twitter:hover {
        color: #1da1f2;
    }

    ._icon-instagram:hover {
        color: #e03266;
    }

    ._icon-linkedin:hover {
        color: #007bb6;
    }

    &__menu {
        position: relative;
        display: flex;
        flex-direction: column;
        flex-basis: 390px;
    }

    &__menu:after {
        position: absolute;
        content: "";
        width: 300px;
        height: 4px;
        background-color: #1fbad6;
        top: -34px;
        left: 50%;
        transform: translateX(-50%);
    }

    &__menu-header {
    }

    &__menu-header-list {
        display: flex;
        justify-content: space-around;
        margin-bottom: 15px;
    }

    &__menu-header-item {
    }

    &__menu-header-link {
        position: relative;
        color: #070716;
        font-family: Roboto;
        font-size: 15px;
        font-weight: 400;
        text-transform: uppercase;
    }

    &__menu-header-link:after {
        position: absolute;
        bottom: -2px;
        left: 0;
        right: 0;
        margin: auto;
        width: 0%;
        content: "";
        background: #070716;
        height: 2px;
        transition: all 0.5s;
    }

    &__menu-header-link:hover:after,
    &__menu-header-link:active:after,
    &__menu-header-link:focus:after {
        width: 100%;
    }

    &__menu-main {
    }

    &__menu-main-list {
        display: flex;
        justify-content: space-between;
        margin-bottom: 19px;
    }

    &__menu-main-item {
    }

    &__menu-main-link {
        position: relative;
        color: #999999;
        font-family: Roboto;
        font-size: 11px;
        font-weight: 400;
        text-transform: uppercase;
    }

    &__menu-main-link:after {
        position: absolute;
        bottom: -2px;
        left: 0;
        right: 0;
        margin: auto;
        width: 0%;
        content: "";
        background: #999999;
        height: 2px;
        transition: all 0.5s;
    }

    &__menu-main-link:hover:after,
    &__menu-main-link:active:after,
    &__menu-main-link:focus:after {
        width: 100%;
    }

    &__link-change-the-language {
        position: relative;
        display: block;
        margin: 0 auto;
        // Style for "русский"
        color: #1fbad6;
        font-family: Roboto;
        font-size: 11px;
        font-weight: 400;
        text-transform: uppercase;
    }

    &__link-change-the-language:after {
        position: absolute;
        bottom: -2px;
        left: 0;
        right: 0;
        margin: auto;
        width: 0%;
        content: "";
        background: #1fbad6;
        height: 2px;
        transition: all 0.5s;
    }

    &__link-change-the-language:hover:after,
    &__link-change-the-language:active:after,
    &__link-change-the-language:focus:after {
        width: 100%;
    }

    &__stores {
        display: flex;
        justify-content: flex-end;
        padding-top: 10px;
    }

    &__stores-link {
        height: 25px;
        width: 78px;
        margin-left: 10px;
    }

    &__store {
        translate: all 0.3s;
    }

    &__store:hover,
    &__store:active,
    &__store:focus {
        transform: scale(1.2);
    }

    .app-store,
    .google-play,
    .windows-store {
        height: 100%;
        width: 100%;
    }
}

.footer:after {
    position: absolute;
    content: "";
    width: 100%;
    height: 8px;
    background-color: #070716;
    left: 0;
    bottom: 0;
}
/*Footer style end*/
