@import "_nullstyle.scss";
@import "fonts.scss";

body {
    font-family: Roboto;
    font-weight: 400;
    font-size: 16px;
}

.wrapper {
    max-width: 1140px;
    margin: 0 auto;
}

.button-style {
    background-image: linear-gradient(to top, #1eacc7 0%, #4ce2ff 100%);
    border-radius: 5px;
    box-shadow: inset 0 -3px 0 rgba(0, 0, 0, 0.12);
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.21);
    color: #ffffff;
    font-family: Roboto;
    text-transform: uppercase;
}

.button-style:hover,
.button-style:active,
.button-style:focus {
    transform: translateY(-4px);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2), 0 16px 20px rgba(0, 0, 0, 0.2);
}

.label-section-style {
    padding: 8px 12px 6px;
    background-color: #000000;
    text-transform: uppercase;
    color: #ffffff;
    font-family: "Roboto";
    font-size: 11px;
    font-weight: 100;
    opacity: 0;
    transform: translateY(-100%);
}

.title-section-style {
    color: #222222;
    font-family: Roboto;
    font-size: 38px;
    font-weight: 700;
    text-transform: uppercase;
    opacity: 0;
    transform: translateY(-100%);
}

.subtitle-section-style {
    font-family: Roboto;
    font-size: 17px;
    font-weight: 600;
    transform: translateY(-200%);
}

.label-section-style.element-animation.element-show,
.title-section-style.element-animation.element-show,
.subtitle-section-style.element-animation.element-show {
    opacity: 1;
    transition: all 1s;
    transform: translateY(0%);
}

/*Header styles start*/
.header {
    position: fixed;
    z-index: 10;
    background-color: #212121;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    &__menu {
        display: flex;
        align-items: center;
        height: 50px;
        width: 100%;
        padding: 0 40px;
        @media screen and (max-width: 768px) {
            position: fixed;
            padding: 20px 20px;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            background-color: #212121;
            z-index: 20;
            transform: translateX(100%);
            transition: 0.3s all linear;
        }
    }

    &__menu_active {
        transform: translateX(0);
    }

    &__menu-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 100%;
        @media screen and (max-width: 768px) {
            flex-direction: column;
            align-items: center;
        }
    }

    &__menu-item {
        position: relative;
        flex-grow: 1;
        text-align: center;
        transform: translateY(50%);
        animation: header-menu-anim 1s forwards;
        opacity: 0;
        @media screen and (max-width: 768px) {
            margin-bottom: 30px;
            border: none;
        }
    }

    @keyframes header-menu-anim {
        0% {
            transform: translateY(50%);
            opacity: 0;
        }
        100% {
            transform: translateY(0);
            opacity: 1;
            border-left: 2px dotted black;
        }
    }

    &__menu-item:first-child {
        border-left: none;
    }

    &__menu-link {
        color: #ffffff;
        font-size: 15px;
        font-weight: 300;
        line-height: 31px;
        @media screen and (max-width: 768px) {
            font-size: 30px;
        }
        @media screen and (max-width: 420px) {
            font-size: 25px;
            line-height: 21px;
        }
    }

    &__menu-link:after {
        position: absolute;
        bottom: 4px;
        left: 0;
        right: 0;
        margin: auto;
        width: 0%;
        content: "";
        background: #aaa;
        height: 2px;
        transition: all 0.8s;
        @media screen and (max-width: 768px) {
            bottom: -4px;
        }
    }

    &__menu-link:hover:after,
    &__menu-link:active:after,
    &__menu-link:focus:after {
        width: 100%;
    }

    &__burger {
        display: none;
        position: absolute;
        width: 40px;
        height: 28px;
        top: 10px;
        left: 50%;
        transform: translateX(-50%);
        @media screen and (max-width: 768px) {
            display: block;
        }
        .burger__line {
            position: absolute;
            display: block;
            width: 100%;
            height: 2px;
            background-color: white;
            left: 0;
        }
        .burger__line_first {
            top: 0;
        }
        .burger__line_secod {
            top: 50%;
            transform: translateY(-50%);
        }
        .burger__line_third {
            bottom: 0;
        }
    }

    &__menu-close {
        width: 40px;
        height: 40px;
        position: absolute;
        top: 20px;
        right: 20px;
        z-index: 21;
        @media screen and (min-width: 768px) {
            display: none;
        }
    }

    &__menu-close-line {
        display: block;
        width: 100%;
        height: 2px;
        background-color: white;
        position: absolute;
        top: 50%;
    }

    &__menu-close-line:first-child {
        transform: translateY(-50%) rotate(45deg);
    }

    &__menu-close-line:last-child {
        transform: translateY(-50%) rotate(-45deg);
    }
}

/*Header styles end*/

/*Subheader styles start*/
.subheader:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    background-color: #000000;
    opacity: 0.6;
}
.subheader {
    z-index: 1;
    position: sticky;
    width: 100%;
    top: 50px;
    left: 0;

    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 96px;
        height: 84px;
        @media screen and (max-width: 992px) {
            padding: 0 50px;
            height: 80px;
        }
        @media screen and (max-width: 768px) {
            padding: 0 25px;
            height: 75px;
        }
        @media screen and (max-width: 576px) {
            padding: 0 15px;
            height: 70px;
        }
    }

    &__logo {
        transform: translateX(-20%);
        opacity: 0;
    }

    &__logo.element-animation.element-show {
        transform: translateX(0);
        opacity: 1;
        transition: all 1s;
    }

    &__logo-title {
        display: flex;
        align-items: center;
        margin-bottom: 6px;
        @media screen and (max-width: 576px) {
            margin-bottom: 2px;
            align-items: flex-end;
        }
    }

    &__logo-ico {
        max-width: 32px;
    }

    &__logo-link {
        position: relative;
        color: #ffffff;
        font-family: "Nokia - Sans - S 60";
        font-size: 26px;
        font-weight: 400;
        text-transform: uppercase;
        letter-spacing: 1.95px;
        padding-left: 9px;
        @media screen and (max-width: 576px) {
            font-size: 20px;
        }
    }

    &__logo-subtitle {
        color: #ffffff;
        font-family: "Roboto";
        font-size: 13px;
        font-weight: 100;
    }

    &__contact {
        display: flex;
        transform: translateX(20%);
        opacity: 0;
    }

    &__contact.element-animation.element-show {
        transform: translateX(0);
        opacity: 1;
        transition: all 1s;
    }

    &__contact-desc {
        @media screen and (max-width: 576px) {
            display: none;
        }
    }

    &__contact-text {
        color: #ffffff;
        font-family: Roboto;
        font-size: 12px;
        font-weight: 300;
        text-align: right;
        margin-bottom: 8px;
    }

    &__contact-tel {
        color: #ffffff;
        font-family: Roboto;
        font-size: 22px;
        font-weight: 400;
        text-align: right;
        text-transform: uppercase;
    }

    &__contact-tel:hover,
    &__contact-tel:active,
    &__contact-tel:focus {
        color: #8de3ff;
        transition: all 0.5s;
    }

    .button-text-medium-active {
        display: none;
    }

    &__contact-button {
        display: flex;
        align-items: center;
        position: relative;
        margin-left: 32px;
        padding: 0px 20px;
        font-size: 14px;
        @media screen and (min-width: 769px) {
            .button-text-medium {
                display: none;
            }
        }
        @media screen and (max-width: 768px) {
            .button-text-large {
                display: none;
            }
            .button-text-medium {
                display: block;
            }
            font-size: 20px;
            padding: 0px 12px;
            margin-left: 20px;

            animation: shake 5s;
            animation-iteration-count: infinite;
        }
        @media screen and (max-width: 576px) {
            font-size: 35px;
            padding: 10px 10px;
            margin-left: 5px;
        }
    }

    @keyframes shake {
        0% {
            transform: translate(0px, 0px) rotate(0deg);
        }
        79% {
            transform: translate(0px, 0px) rotate(0deg);
        }
        80% {
            transform: translate(3px, 1px) rotate(3deg);
        }
        82% {
            transform: translate(-3px, -1px) rotate(-3deg);
        }
        84% {
            transform: translate(3px, 1px) rotate(3deg);
        }
        86% {
            transform: translate(-3px, -1px) rotate(-3deg);
        }
        88% {
            transform: translate(3px, 1px) rotate(3deg);
        }
        90% {
            transform: translate(-3px, -1px) rotate(-3deg);
        }
        92% {
            transform: translate(3px, 1px) rotate(3deg);
        }
        94% {
            transform: translate(-3px, -1px) rotate(-3deg);
        }
        96% {
            transform: translate(3px, 1px) rotate(3deg);
        }
        98% {
            transform: translate(-3px, -1px) rotate(-3deg);
        }
        99% {
            transform: translate(3px, 1px) rotate(3deg);
        }
        100% {
            transform: translate(-3px, -1px) rotate(-3deg);
        }
    }

    &__contact-button:hover,
    &__contact-button:active,
    &__contact-button:focus {
        @media screen and (max-width: 768px) {
            .button-text-medium {
                display: none;
            }
            .button-text-medium-active {
                display: block;
            }
        }
    }
}
/*Subheader styles end*/

/*Intro styles start*/
.intro {
    margin-top: -35px;
    background: url(../img/intro_back.webp) no-repeat center;
    background-size: cover;
    height: 100vh;
    padding-top: 27.25vh;
    @media screen and (max-width: 768px) {
        padding-top: 22.25vh;
    }
    &__main {
        padding: 0px 96px;
        font-family: Roboto;
        color: #ffffff;
        text-align: center;
        @media screen and (max-width: 992px) {
            padding: 0px 50px;
        }
        @media screen and (max-width: 768px) {
            padding: 0px 25px;
        }
        @media screen and (max-width: 576px) {
            padding: 0px 15px;
        }
    }

    &__title {
        font-weight: 700;
        text-transform: uppercase;
        font-size: 60px;
        margin-bottom: 2.625vh;
        transform: translateY(100%);
        opacity: 0;

        @media screen and (max-width: 992px) {
            font-size: 53px;
        }
        @media screen and (max-width: 768px) {
            font-size: 44px;
        }
        @media screen and (max-width: 576px) {
            font-size: 35px;
        }
    }

    &__title.element-animation.element-show {
        transform: translateY(0);
        opacity: 1;
        transition: all 1.5s;
    }

    &__subtitle {
        font-size: 36px;
        text-transform: uppercase;
        font-weight: 700;
        margin-bottom: 2.875vh;
        transform: translateY(100%);
        opacity: 0;
        @media screen and (max-width: 992px) {
            font-size: 32px;
            line-height: 39px;
        }
        @media screen and (max-width: 768px) {
            font-size: 26px;
            line-height: 33px;
        }
        @media screen and (max-width: 576px) {
            font-size: 21px;
            line-height: 28px;
        }
        @media screen and (max-width: 420px) {
            margin-bottom: 1.875vh;
        }
    }

    &__subtitle.element-animation.element-show {
        transform: translateY(0);
        opacity: 1;
        transition: all 2s;
    }

    &__desc {
        font-size: 18px;
        line-height: 24px;
        margin-bottom: 12.15vh;
        transform: translateY(50%);
        opacity: 0;
        @media screen and (max-width: 992px) {
            font-size: 18px;
        }
        @media screen and (max-width: 768px) {
            font-size: 17px;
        }
        @media screen and (max-width: 576px) {
            font-size: 16px;
            line-height: 16px;
        }
        @media screen and (max-width: 420px) {
            margin-bottom: 10.15vh;
            .hide-small-screen {
                display: none;
            }
        }
    }

    &__desc.element-animation.element-show {
        transform: translateY(0);
        opacity: 1;
        transition: all 2.5s;
    }

    &__button-send {
        font-size: 18px;
        line-height: 63px;
        padding: 0px 39px;
        opacity: 0;
        animation: intro-button-send-anim 1.5s forwards 1.5s;
    }

    &__button-send.element-animation.element-show {
        opacity: 1;
        transition: opacity 2.5s;
    }
}
/*Intro styles end*/

/*Advantages styles start*/
.advantages {
    padding: 71px 0 68px;
    @media screen and (max-width: 768px) {
        padding: 31px 0 28px;
    }
    .wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0 40px;
        @media screen and (max-width: 768px) {
            padding: 0 25px;
        }
    }

    &__label {
        margin-bottom: 44px;
    }

    &__title {
        font-size: 38px;
        margin-bottom: 40px;
        text-align: center;
        @media screen and (max-width: 576px) {
            font-size: 25px;
        }
    }

    &__card-block {
        display: flex;
        flex-direction: column;
        row-gap: 35px;
    }

    &__cards {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin: 0px -50px;
        @media screen and (max-width: 992px) {
            margin: 0px -20px;
        }
        @media screen and (max-width: 768px) {
            flex-direction: column;
        }
    }

    &__card {
        position: relative;
        display: flex;
        align-items: center;
        flex: 1 1 50%;
        padding: 0 50px;
        margin-bottom: 35px;
        opacity: 0;
        @media screen and (max-width: 992px) {
            padding: 0 20px;
        }
        @media screen and (max-width: 768px) {
            max-width: 550px;
        }
        @media screen and (max-width: 576px) {
            padding: 0 10px;
        }
    }

    &__card:nth-child(2n-1) {
        transform: translateX(-50%);
    }

    &__card:nth-child(2n) {
        transform: translateX(50%);
    }

    &__card.element-animation.element-show {
        opacity: 1;
        transition: all 1s;
        transform: translateX(0%);
    }

    &__card-pic {
        max-width: 113px;
        @media screen and (max-width: 992px) {
            max-width: 90px;
        }
        @media screen and (max-width: 420px) {
            position: absolute;
            top: 0;
            left: 10px;
            width: 40px;
        }
    }

    &__card-text {
        display: flex;
        flex-direction: column;
        flex: 1 1 auto;
        margin-left: 26px;
        flex-shrink: 2;
        @media screen and (max-width: 576px) {
            margin-left: 16px;
        }
        @media screen and (max-width: 420px) {
            margin-left: 0;
        }
    }
    &__card-title {
        flex-shrink: 2;
        font-family: Roboto;
        text-align: justify;
        color: #1eacc7;
        font-size: 17px;
        font-weight: 400;
        line-height: 21px;
        @media screen and (max-width: 420px) {
            height: 50px;
            padding-left: 55px;
        }
    }

    &__card-desc {
        font-family: Roboto;
        text-align: justify;
        color: #202020;
        font-size: 15px;
        font-weight: 300;
        line-height: 21px;
    }
}

/*Advantages styles end*/

/*Mibile-app style start*/
.mobile-app {
    padding: 48px 0 80px;
    @media screen and (max-width: 576px) {
        padding: 28px 0 40px;
    }
    background-image: url("../img/mibile-app_back.webp");
    .wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0 22px;
    }

    &__label {
        margin-bottom: 38px;
    }

    &__title {
        margin-bottom: 19px;
        text-align: center;
        @media screen and (max-width: 576px) {
            font-size: 25px;
        }
    }

    &__subtitle {
        color: #222222;
        margin-bottom: 32px;
        text-align: center;
    }

    &__card-block {
        display: flex;
        flex-direction: column;
    }

    &__cards {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        row-gap: 19px;
    }

    &__card {
        position: relative;
        flex-basis: 33.33%;
        max-width: 320px;
        flex-grow: 2;
        height: 280px;
        margin: 0 2px;
    }

    &__card:nth-child(3n + 1) {
        opacity: 0;
        transform: translateX(-50%);
    }

    &__card.element-animation.element-show:nth-child(3n + 1) {
        opacity: 1;
        transition: all 1s;
        transform: translateX(0%);
    }

    &__card:nth-child(3n) {
        opacity: 0;
        transform: translateX(50%);
    }

    &__card.element-animation.element-show:nth-child(3n) {
        opacity: 1;
        transition: all 1s;
        transform: translateX(0%);
    }

    &__card:nth-child(2) {
        opacity: 0;
        transform: translateY(-20%);
    }

    &__card.element-animation.element-show:nth-child(2) {
        opacity: 1;
        transition: all 1s;
        transform: translateX(0%);
    }

    &__card:nth-child(5) {
        opacity: 0;
        transform: translateY(25%);
    }

    &__card.element-animation.element-show:nth-child(5) {
        opacity: 1;
        transition: all 1s;
        transform: translateX(0%);
    }

    &__card:hover,
    &__card:active,
    &__card:focus {
        transform: scale(1.05);
        transition: all 0.3s;
    }

    &__card-title {
        position: absolute;
        color: #ffffff;
        font-family: Roboto;
        font-size: 24px;
        line-height: 30px;
        text-align: center;
        text-transform: uppercase;
        top: 91px;
        width: 100%;
    }

    &__card-button {
        position: absolute;
        width: 26px;
        height: 26px;
        background-color: #000000;
        bottom: 35px;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: 50%;
        z-index: 4;
    }

    &__card-button:hover,
    &__card-button:active,
    &__card-button:focus {
        background-color: #1fbad6;
    }

    &__card-button:hover:after,
    &__card-button:active:after,
    &__card-button:focus:after,
    &__card-button:hover:before,
    &__card-button:active:before,
    &__card-button:focus:before {
        background-color: #000000;
    }

    &__card-button:before {
        position: absolute;
        content: "";
        height: 14px;
        width: 2px;
        background-color: #1fbad6;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 3;
    }

    &__card-button:after {
        position: absolute;
        content: "";
        height: 2px;
        width: 14px;
        background-color: #1fbad6;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 3;
    }

    &__card-btn-link {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 4;
    }

    &__card-link {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 2;
    }
}
/*Mibile-app style end*/

/*Slogan style start*/
.slogan {
    padding: 56px 15px 158px;
    background-image: url("../img/slogan_back.webp");
    background-size: auto 100%;
    @media screen and (max-width: 576px) {
        padding: 30px 15px 40px;
    }
    .wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__label {
        color: #070716;
        background-color: #ffffff;
        margin-bottom: 32px;
        font-weight: 400;
        @media screen and (max-width: 576px) {
            margin-bottom: 22px;
        }
    }

    &__title {
        color: #ffffff;
        margin-bottom: 19px;
        text-align: center;
        @media screen and (max-width: 992px) {
            font-size: 34px;
        }
        @media screen and (max-width: 768px) {
            font-size: 29px;
        }
        @media screen and (max-width: 576px) {
            font-size: 25px;
        }
    }

    &__subtitle {
        color: #ffffff;
        margin-bottom: 208px;
        letter-spacing: 1px;
        font-weight: 400;
        text-align: center;
        @media screen and (max-width: 576px) {
            margin-bottom: 100px;
            font-size: 16px;
        }
    }

    &__picture {
        position: relative;
        max-width: 759px;
        margin-bottom: 4px;
        z-index: 2;
    }

    &__back {
        position: absolute;
        transform: translateY(-49.81%);
        left: 11.5%;
        max-width: 76.81%;
        margin: auto;
        z-index: 3;
        opacity: 0;
    }

    &__back.element-animation.element-show {
        animation: slogan-back-anim 2s forwards 2s;
    }

    @keyframes slogan-back-anim {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }

    &__picture-car {
        position: relative;
        width: 100%;
        z-index: 4;
        transform: translateX(-50%);
        opacity: 0;
    }

    @media screen and (max-width: 992px) {
        &__picture-car {
            transform: translateX(-20%);
        }
    }
    @media screen and (max-width: 768px) {
    }
    @media screen and (max-width: 576px) {
    }

    &__picture-car.element-animation.element-show {
        animation: slogan-car-anim 4s forwards;
    }

    @keyframes slogan-car-anim {
        0% {
        }
        40% {
            opacity: 1;
        }
        100% {
            transition: all 3s;
            transform: translateX(0);
            opacity: 1;
        }
    }

    &__car {
        width: 100%;
    }

    &__rear-wheel {
        position: absolute;
        width: 14.89%;
        left: 13.63%;
        bottom: 27.2%;
    }

    &__rear-wheel.element-animation.element-show {
        animation: rear-wheel-anim 4s forwards;
        z-index: 5;
    }

    @keyframes rear-wheel-anim {
        0% {
            transform: rotate(0deg);
        }
        40% {
            opacity: 1;
        }
        100% {
            transform: rotate(350deg);
        }
    }

    &__front-wheel {
        position: absolute;
        width: 14.89%;
        right: 10.34%;
        bottom: 26.72%;
    }

    &__front-wheel.element-animation.element-show {
        animation: front-wheel-anim 4s forwards;
        z-index: 5;
    }

    @keyframes front-wheel-anim {
        0% {
            transform: rotate(0deg);
        }
        40% {
            opacity: 1;
        }
        100% {
            transform: rotate(360deg);
        }
    }

    &__text {
        color: #222222;
        font-family: Roboto;
        font-size: 17px;
        font-weight: 300;
        line-height: 24px;
        text-align: center;
        transform: translateY(-200%);
    }

    &__text.element-animation.element-show {
        animation: slogan-text-anim 4s forwards;
    }

    @keyframes slogan-text-anim {
        0% {
            transform: translateY(-200%);
            opacity: 0;
        }
        100% {
            transition: all 1s;
            transform: translateY(0);
            opacity: 1;
        }
    }
}
/*Slogan style end*/

/*Conditions style start*/
.conditions {
    padding: 68px 0 84px;
    @media screen and (max-width: 576px) {
        padding: 38px 0 34px;
    }
    .wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0 20px;
        @media screen and (max-width: 768px) {
            padding: 0 10px;
        }
    }

    &__label {
        margin-bottom: 33px;
    }

    &__title {
        margin-bottom: 33px;
        text-align: center;
        @media screen and (max-width: 992px) {
            font-size: 34px;
        }
        @media screen and (max-width: 768px) {
            font-size: 29px;
        }
        @media screen and (max-width: 576px) {
            font-size: 25px;
        }
    }

    &__lists {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    &__list {
        padding: 0 10px;
        flex-basis: 50%;
        margin-bottom: 62px;
        max-width: 478px;
        @media screen and (max-width: 768px) {
            flex-basis: 100%;
            margin: 20px auto;
        }
    }

    .own-car-advantages {
        @media screen and (max-width: 768px) {
            order: -2;
        }
    }

    .own-car-requirements {
        @media screen and (max-width: 768px) {
            order: -1;
        }
    }

    .list-green &__list-title {
        color: #1ca8c3;
    }

    .list-red &__list-title {
        color: #ff5656;
    }

    .list-green &__list-item {
        background: url("../img/green_list_ico.png") 19px 7px no-repeat;
        @media screen and (max-width: 420px) {
            background-position: 19px 5px;
        }
    }

    .list-red &__list-item {
        background: url("../img/red_list_ico.png") 19px 7px no-repeat;
        @media screen and (max-width: 420px) {
            background-position: 19px 5px;
        }
    }

    &__list-title {
        font-family: Roboto;
        text-align: left;
        font-size: 22px;
        font-weight: 400;
        margin-bottom: 15px;
        @media screen and (max-width: 768px) {
            margin-bottom: 5px;
        }
    }

    &__list-items {
        margin-bottom: 12px;
    }

    &__list-item {
        color: #222222;
        font-family: Roboto;
        font-size: 17px;
        line-height: 34px;
        text-align: left;
        font-weight: 300;
        padding-left: 50px;
        @media screen and (max-width: 420px) {
            font-size: 16px;
            line-height: 28px;
        }
    }

    &__list.own-car-advantages > .element-animation,
    &__list.own-car-requirements > .element-animation {
        transform: translateX(-50%);
        opacity: 0;
    }

    &__list.own-car-advantages > .element-animation.element-show,
    &__list.own-car-requirements > .element-animation.element-show {
        animation: conditions-item-left-anim 1s forwards;
    }

    @keyframes conditions-item-left-anim {
        0% {
            transform: translateX(-50%);
            opacity: 0;
        }
        100% {
            transform: translateX(0);
            opacity: 1;
        }
    }

    &__list.сompany-car-advantages > .element-animation,
    &__list.сompany-car-requirements > .element-animation {
        transform: translateX(50%);
        opacity: 0;
    }

    &__list.сompany-car-advantages > .element-animation.element-show,
    &__list.сompany-car-requirements > .element-animation.element-show {
        animation: conditions-item-right-anim 1s forwards;
    }

    @keyframes conditions-item-right-anim {
        0% {
            transform: translateX(50%);
            opacity: 0;
        }
        100% {
            transform: translateX(0);
            opacity: 1;
        }
    }

    &__list-desc {
        font-family: Roboto;
        font-size: 17px;
        line-height: 24px;
        text-align: left;
        color: #1ca8c3;
        font-weight: 300;
    }
}
/*Conditions style end*/

/*Cities style start*/
.cities {
    height: 717px;
    background-color: #080816;
    &__wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        height: 100%;
        padding: 0 10px;
        background: url("../img/cities_back.webp") center no-repeat;
    }

    &__header {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 49px;
    }

    &__label {
        margin-bottom: 32px;
        background-color: #ffffff;
        font-weight: 400;
        color: #070716;
    }

    &__title {
        color: #ffffff;
        margin-bottom: 20px;
        text-align: center;
        @media screen and (max-width: 992px) {
            font-size: 34px;
        }
        @media screen and (max-width: 768px) {
            font-size: 29px;
        }
        @media screen and (max-width: 576px) {
            font-size: 25px;
        }
    }

    &__subtitle {
        color: #ffffff;
        font-size: 17px;
        font-weight: 400;
        text-align: center;
    }

    &__footer {
        position: relative;
        display: block;
        margin-bottom: 49px;
        color: #1fbad6;
        font-family: Roboto;
        font-size: 15px;
        font-weight: 400;
        text-align: center;
        text-transform: uppercase;
    }

    &__footer.element-animation.element-show {
        animation: cities-footer-anim 1s forwards;
    }

    @keyframes cities-footer-anim {
        0% {
            transform: translateY(200%);
            opacity: 0;
        }
        100% {
            transform: translateY(0);
            opacity: 1;
        }
    }

    &__footer:after {
        position: absolute;
        bottom: -4px;
        left: 0;
        right: 0;
        margin: auto;
        width: 0%;
        content: "";
        background: #1fbad6;
        height: 2px;
        transition: all 0.8s;
    }

    &__footer:hover:after,
    &__footer:active:after,
    &__footer:focus:after {
        width: 100%;
    }
}
/*Cities style end*/

/*Footer style start*/
.footer {
    position: relative;
    display: flex;
    justify-content: space-between;
    padding: 50px 23px 39px;
    @media screen and (max-width: 768px) {
        flex-wrap: wrap;
    }
    @media screen and (max-width: 576px) {
        flex-direction: column;
        justify-content: center;
    }

    &__social-networks {
        padding-top: 10px;
        flex-basis: 30%;
        @media screen and (max-width: 992px) {
            max-width: 200px;
        }
        @media screen and (max-width: 576px) {
            display: flex;
            justify-content: center;
            max-width: 100%;
            margin-bottom: 20px;
        }
    }

    &__social-networks.element-animation.element-show {
        animation: social-networks-anim 1s forwards;
    }

    @keyframes social-networks-anim {
        0% {
            transform: translateX(10%);
            opacity: 0;
        }
        100% {
            transform: translateX(0);
            opacity: 1;
        }
    }

    &__social-networks-link {
        font-size: 32px;
        color: black;
        margin-left: 5px;
    }

    ._icon-facebook:hover {
        color: #3c62a0;
    }

    ._icon-twitter:hover {
        color: #1da1f2;
    }

    ._icon-instagram:hover {
        color: #e03266;
    }

    ._icon-linkedin:hover {
        color: #007bb6;
    }

    &__menu {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex-basis: 40%;
        max-width: 390px;
        @media screen and (max-width: 992px) {
            flex-basis: 50%;
        }
        @media screen and (max-width: 768px) {
            order: -1;
            flex-basis: 100%;
            min-width: 100%;
            margin-bottom: 20px;
        }
    }

    &__menu.element-animation.element-show {
        animation: footer-menu-anim 1s forwards;
    }

    @keyframes footer-menu-anim {
        0% {
            transform: scaleX(130%);
            opacity: 0;
        }
        100% {
            transform: scaleX(100%);;
            opacity: 1;
        }
    }



    &__menu:after {
        position: absolute;
        content: "";
        width: 300px;
        height: 4px;
        background-color: #1fbad6;
        top: -34px;
        left: 50%;
        transform: translateX(-50%);
    }

    &__menu-header-list {
        display: flex;
        justify-content: space-around;
        margin-bottom: 15px;
    }

    &__menu-header-link {
        position: relative;
        color: #070716;
        font-family: Roboto;
        font-size: 15px;
        font-weight: 400;
        text-transform: uppercase;
    }

    &__menu-header-link:after {
        position: absolute;
        bottom: -2px;
        left: 0;
        right: 0;
        margin: auto;
        width: 0%;
        content: "";
        background: #070716;
        height: 2px;
        transition: all 0.5s;
    }

    &__menu-header-link:hover:after,
    &__menu-header-link:active:after,
    &__menu-header-link:focus:after {
        width: 100%;
    }

    &__menu-main-list {
        display: flex;
        justify-content: center;
        margin-bottom: 19px;
        @media screen and (max-width: 576px) {
            flex-direction: column;
            align-items: center;
        }
    }

    &__menu-main-item {
        @media screen and (max-width: 576px) {
            margin-bottom: 10px;
        }
    }

    &__menu-main-link {
        position: relative;
        color: #999999;
        font-family: Roboto;
        font-size: 11px;
        font-weight: 400;
        text-transform: uppercase;
        margin-left: 8px;
    }

    &__menu-main-link:after {
        position: absolute;
        bottom: -2px;
        left: 0;
        right: 0;
        margin: auto;
        width: 0%;
        content: "";
        background: #999999;
        height: 2px;
        transition: all 0.5s;
    }

    &__menu-main-link:hover:after,
    &__menu-main-link:active:after,
    &__menu-main-link:focus:after {
        width: 100%;
    }

    &__link-change-the-language {
        position: relative;
        display: block;
        margin: 0 auto;
        // Style for "русский"
        color: #1fbad6;
        font-family: Roboto;
        font-size: 11px;
        font-weight: 400;
        text-transform: uppercase;
    }

    &__link-change-the-language:after {
        position: absolute;
        bottom: -2px;
        left: 0;
        right: 0;
        margin: auto;
        width: 0%;
        content: "";
        background: #1fbad6;
        height: 2px;
        transition: all 0.5s;
    }

    &__link-change-the-language:hover:after,
    &__link-change-the-language:active:after,
    &__link-change-the-language:focus:after {
        width: 100%;
    }

    &__stores {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;
        padding-top: 10px;
        flex-basis: 30%;
        @media screen and (max-width: 992px) {
            max-width: 200px;
        }
        @media screen and (max-width: 768px) {
            flex-basis: 70%;
            max-width: 70%;
        }
        @media screen and (max-width: 576px) {
            display: flex;
            justify-content: center;
            max-width: 100%;
        }
    }

    &__stores.element-animation.element-show {
        animation: stores-anim 1s forwards;
    }

    @keyframes stores-anim {
        0% {
            transform: translateX(-10%);
            opacity: 0;
        }
        100% {
            transform: translateX(0);
            opacity: 1;
        }
    }

    &__stores-link {
        height: 25px;
        width: 78px;
        margin-left: 10px;
    }

    &__store {
        translate: all 0.3s;
    }

    &__store:hover,
    &__store:active,
    &__store:focus {
        transform: scale(1.2);
    }

    .app-store,
    .google-play,
    .windows-store {
        height: 100%;
        width: 100%;
    }
}

.footer:after {
    position: absolute;
    content: "";
    width: 100%;
    height: 8px;
    background-color: #070716;
    left: 0;
    bottom: 0;
}
/*Footer style end*/
